@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
	min-width: 1280px;
}

body {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	background-color: white;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

img {
	display: block;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	color: white;
	background-color: #756257;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

.button:hover {
	background-color: #615048;
}

.button:focus-visible {
	outline: 3px solid #83B3D3;
	color: rgba(255, 255, 255, 1);
	background-color: #615048;
}

.button:active {
	outline: none;
	color: rgba(255, 255, 255, 0.3);
}

.title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	margin: 0 auto;
}

.title-desc {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	padding: 0;
	padding-bottom: 64px;
	width: 720px;
	margin: 0 auto;
}

.subtitle {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.item-desc {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.navigation {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.menu-logo {
	width: 140px;
	margin-right: 30px;
	padding-left: 70px;
}

.navigation-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	align-items: center;
}

.navigation-link {
	color: black;
	display: block;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	padding: 20px 16px;
	text-decoration: none;
	position: relative;
}

.navigation-link:hover {
	color: #756257;
}

.navigation-link:active {
	color: rgba(117, 98, 87, 0.30);
}

.navigation-link-current::after {
	position: absolute;
	content: "";
	height: 2px;
	background-color: #756257;
	left: 16px;
	right: 16px;
	bottom: -1px;
}

.logo-link {
	display: block;
	margin-bottom: -10px;
	padding: 0;
	z-index: 1;
}

.userbar {
	width: 268px;
	margin-left: auto;
	padding-right: 70px;
}

.userbar-item:last-child {
	margin-left: 20px;
}

.userbar-link {
	position: relative;
	padding: 22px 12px;
	display: block;
	width: 20px;
	height: 20px;
}

.favourities::after {
	content: " 12 ";
	font-size: 10px;
	color: 	#FFFFFF;
	background-color: #7DB54F;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 20px;
}

.userbar-link:hover svg {
	fill: #756257;
}

.userbar-link:focus svg {
	fill: rgba(117, 98, 87, 0.3);
}

.button-entry {
	padding: 8px 34px;
	border-radius: 4px;
}

.page-container {
	background-image: url(../images/bg-index-divider.jpg);
	background-repeat: no-repeat;
	background-size: 1200px 485px;
	background-position: top;
	width: 1200px;
	margin: 0 auto;
}

.page-hotels-container {
	width: 1200px;
	margin: 0 auto;
}

.content {
	flex-grow: 1;
}

.main-logo {
	display: block;
	margin: 0 auto;
	padding-top: 42px;
	margin-bottom: 91px;
}

.reasons-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.title-reasons {
	width: 620px;
	padding-top: 69px;
	padding-bottom: 25px;
}

.reasons-item {
	display: flex;
	flex-direction: column;
}

.reasons-item:first-child,
.reasons-item:last-child {
	background-color: #82B3D3;
	color: white;
	width: 400px;
}

.reasons-item:nth-child(3),
.reasons-item:nth-child(4),
.reasons-item:nth-child(5) {
	width: 400px;
}

.reasons-item:nth-child(3),
.reasons-item:nth-child(5),
.opportunities-item:nth-child(1),
.opportunities-item:nth-child(3) {
	background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(4) {
	background-color:rgba(131, 179, 211, 0.2)
}

.subtitle-reasons {
	width: 175px;
	margin: 0 auto;
	padding-top: 103px;
	padding-bottom: 31px;
	position: relative;
}

.subtitle-reasons::after {
	position: absolute;
	content: "";
	left: 57px;
	right: 57px;
	bottom: 0;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.30);;
}

.pseudo-element::after {
	background-color: rgba(0, 0, 0, 0.30);
}

.item-desc-reasons {
	width: 230px;
	margin: 0 auto;
	padding-top: 31px;
	padding-bottom: 100px;
}

.title-opportunities {
	width: 505px;
	padding-top: 64px;
	padding-bottom: 20px;
}

.opportunities-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.opportunities-item {
	width: 400px;
	display: flex;
	flex-direction: column;
}

.opportunities-item:nth-child(1) {
	background-image: url("../images/house-icon.svg");
	background-repeat: no-repeat;
	background-position: 162px 80px;
}

.opportunities-item:nth-child(2) {
	background-image: url("../images/hamburger-icon.svg");
	background-repeat: no-repeat;
	background-position: 162px 80px;
}

.opportunities-item:nth-child(3) {
	background-image: url("../images/souvenir-icon.svg");
	background-repeat: no-repeat;
	background-position: 162px 80px;
}

.subtitle-opportunities {
	width: 230px;
	margin: 0 auto;
	padding-top: 183px;
	padding-bottom: 30px;
}

.item-desc-opportunities {
	width: 230px;
	margin: 0 auto;
	padding-bottom: 81px;
}

.title-search-hotel,
.title-footer-subscribe {
	padding-top: 96px;
	padding-bottom: 20px;
}

.search-hotel {
	padding-bottom: 96px;
}

.button-search-hotel {
	display: block;
	width: 376px;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	padding: 8px 50px;
	margin: 0 auto;
	border-radius: 4px;
}

.footer-subscribe {
	color: white;
	background-color: lightblue;
	background-image: url("../images/bg-subscribe.jpg");
	background-size: 1200px 415px;
	background-repeat: no-repeat;
	width: 1200px;
	margin: 0 auto;
}

.footer-subscribe-form {
	display: flex;
	margin: 0 auto;
	width: 684px;
	padding-bottom: 94px;
}

.footer-subscribe-email {
	width: 412px;
	line-height: 28px;
	border: none;
	padding: 12px 20px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.button-subscribe {
	background-color: rgba(131, 179, 211, 1);
	border: none;
	font-size: 20px;
	line-height: 36px;
	font-family: "PT Sans";
	padding: 8px 50px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.button-subscribe:hover {
	background-color: rgba(104, 162, 202, 1);
}

.button-subscribe:focus-visible {
	color: rgba(255, 255, 255, 1	);
	outline: 3px solid #AF7842	;
	background-color: rgba(104, 162, 202, 1);
}

.button-subscribe:active {
	color: rgba(255, 255, 255, 0.3);
	outline: none;
}

.footer-social {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.footer-social-list {
	width: 180px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 70px;
	padding-top: 45px;
	padding-bottom: 30px;
}

.footer-social-link {
	display: block;
	width: 47px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px 14px;
	position: relative;
}

.social-link-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	fill: rgba(131, 179, 211, 1);
}

.footer-social-link:hover svg {
	fill: rgba(104, 162, 202, 1);
}

.footer-social-link:active svg {
	fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
	color: black;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-decoration: none;
	width: 335px;
	margin-left: 190px;
	padding-top: 45px;
	padding-bottom: 30px;
}

.footer-phone:hover {
	color: rgba(117, 97, 87, 1);
}

.footer-phone:active {
	color: rgba(117, 97, 87, 0.3);
}

.copyright-container {
	width: 200px;
	margin-left: auto;
	padding-right: 70px;
}

.git-creator {
	color: #0abab5;
	text-decoration: none;
}

.git-creator:hover {
	color: #0d8682;
	font-weight: 700;
}

.copyright-link {
	color:#AF7842;
	text-decoration: none;
}

.copyright-link:hover {
	color: rgba(117, 97, 87, 1);
	font-weight: 700;
}

.bg-wrapper {
	background-image: url("../images/bg-catalog.jpg");
	background-color: lightblue;
	background-size: cover;
	color: white;
}

.hotels-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
	padding-top: 35px;
	padding-left: 70px;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 70px;
	list-style-type: none;
}

.breadcrumbs-link {
	color: white;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	display: block;
	margin-right: 28px;
}

.breadcrumbs-item {
	position: relative;
}

.breadcrumbs-link:hover {
	opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
	outline: 2px solid #82B3D3;
}

.breadcrumbs-link:active {
	opacity: 0.3;
}

.breadcrumbs-icon {
	width: 20px;
	height: 20px;
	background-image: url("../images/house-breadcrumbs.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "";
	background-image: url("../images/arrow-breadcrumbs.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 8px;
	height: 20px;
	top: 5px;
	right: 10px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.title-filters {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	padding-bottom: 30px;
}

.item-filters {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	padding-bottom: 13px;
}

.filters-hotels {
	display: flex;
	max-width: 1200px;
	padding: 40px 70px 70px;
}

.filters-infrastructure-list,
.filters-type-hotels-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.filters-infrastructure {
	width: 150px;
	margin-right: 70px;
}

.filters-type-hotels {
	width: 150px;
}

.filters-price {
	width: 280px;
	margin-left: auto;
	margin-right: 70px;
}

.control {
	position: relative;
	display: block;
	padding-left: 36px;
}

.control-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 6px;
	background-color: #FFFFFF;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
	position: absolute;
	top: 11px;
	left: 2px;
	width: 9px;
	height: 3px;
	background-color: #3F5E72;
	content: "";
	transform: rotate(40deg) ;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
	position: absolute;
	top: 8px;
	left: 6px;
	width: 14px;
	height: 3px;
	background-color: #3F5E72;
	content: "";
	transform: rotate(-50deg);
}

.control-input[type="radio"] + .control-mark {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #3F5E72;
	content: "";
}

.control:hover {
	opacity: 0.6;
}

.control-input:focus + .control-mark {
	outline: 2px solid #83B3D3;
}

.control:active {
	opacity: 0.3;
}

.scale {
	position: relative;
	height: 4px;
	margin-top: 36px;
	background-color: #7e7a7a;
	width: 287px;
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: #FFFFFF;
}

.button-form {
	width: 191px;		
	align-self: center;
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.range-toggle:hover {
	outline: 2px solid #83B3D3;
}

.range-toggle:focus,
.range-toggle:active {
	outline: 2px solid #83B3D3;
}

.range-toggle-min {
	top: -8px;
	left: 0;
}

.range-toggle-max {
	top: -8px;
	right: -10px;
}

.range-wrapper-inputs {
	display: grid;
	grid-template-columns: 143px 143px;
	position: relative;
	gap: 2px;
}

.price-input {
	padding: 12px 45px 12px 20px;
	color: #000000;
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border: none;
}

.price-input:hover {
	outline: 2px solid #82B3D3;
}

.price-input:focus-within,
.price-input:active {
	outline: none;
}

.price-input::placeholder {
	color: #000000;
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.price-label {
	position: absolute;
	color: gray;
	top: 14px;
}

.min-price-label {
	left: 106px;
}

.max-price-label {
	right: 20px;
}

.button-bg-lightblue {
	background-color: rgba(131, 179, 211, 1);
	color: #FFFFFF;
	border: none;
	font-family: "PT Sans";
	padding: 8px 50px;
	line-height: 20px;
	border-radius: 4px;
}

.button-bg-lightblue:hover {
	background-color: rgba(104, 162, 202, 1);
}

.button-bg-lightblue:focus-visible {
	color: rgba(255, 255, 255, 1);
	outline: 3px solid rgba(117, 98, 87, 1);
	background-color: rgba(104, 162, 202, 1);
}

.button-bg-lightblue:active {
	color: rgba(255, 255, 255, 0.3);
	outline: none;
}

.reset-button {
	background-color: transparent;
	border: none;
	padding: 8px 50px;
	line-height: 20px;
	margin-top: 32px;
}

.reset-button:hover {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.6)
}

.reset-button:focus-visible {
	background-color: transparent;
	outline: 3px solid rgba(131, 179, 211, 1);
	border-radius: 4px;
}

.reset-button:active {
	background-color: transparent;
	outline: none;
	color: rgba(255, 255, 255, 0.3)
}

.button-clicked {
	background-color: #7DB54F;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 4px;
}

.button-clicked:hover {
	background-color: #6C9E42;
}

.button-clicked:focus-visible {
	color: rgba(255, 255, 255, 1		);
	outline: 3px solid rgba(117, 98, 87, 1);
	background-color: #6C9E42;
}

.button-clicked:active {
	color: rgba(255, 255, 255, 0.3);
	outline: none;
}

.sorting-view {
	display: flex;
	margin: 50px 70px 40px;
}

.sorting-view-title {
	font-size: 30px;
	line-height: 39px;
	font-weight: 700;
	text-transform: uppercase;
	width: 340px;
	margin-top: 0;
	color: #000000;
}

.sorting-view-style {
	width: 292px;
	height: 50px;
	margin-left: auto;
	color: #333333;
	font-size: 18px;
	line-height: 23px;
	font-family: "PT Sans";
	font-weight: 400;
	outline: 2px solid #E5E5E5;
	border: none;
	border-radius: 4px;
	appearance: none;
	padding-top: 14px;
	padding-left: 20px;
	padding-bottom: 14px;
	background-image: url("../images/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.sorting-view-link-container {
	display: flex;
	width: 160px;
	flex-wrap: wrap;
	margin-left: 70px;
}

.sorting-view-link {
	background-color: white;
	color: black;
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-position: center;
	outline: 2px solid #E5E5E5;
	border-radius: 4px;
	border: none;
}

.sorting-view-link:last-child {
	margin-right: 0;
}

.sorting-view-link:first-child {
	background-image: url("../images/catalog-view-cards.svg");
}

.sorting-view-link:nth-child(2) {
	background-image: url("../images/catalog-view-full.svg");
}

.sorting-view-link:nth-child(3) {
	background-image: url("../images/catalog-view-list.svg");
}

.sorting-view-link-current {
	outline: 2px solid #000000;
}

.sorting-view-style:hover {
	outline: 2px solid #83B3D3;
}

.sorting-view-link:hover {
	outline: 2px solid #000000;
}

.sorting-view-link:focus-visible,
.sorting-view-style:focus-visible {
	outline: 2px solid #83B3D3;
}

.sorting-view-link:active,
.sorting-view-style:active {
	outline: 2px solid #000000;
}

.preview-hotels-list {
	display: grid;
	grid-template-columns: repeat(3, 340px);
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 40px;
	gap: 20px;
}

.preview-hotels-item {
	display: grid;
	grid-template-columns: 20px 300px 20px;
	grid-template-rows: 20px 212px min-content auto; 
	width: 340px;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
}

.preview-hotels-image:hover {
	opacity: 0.6;
}

.preview-hotels-link:focus-visible {
	outline: 3px solid #83B3D3;
}

.preview-hotels-image:active {
	opacity: 0.3;
}

.preview-hotels-link {
	width: 300px;
	margin: 0;
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

.preview-hotels-subtitle-link {
	grid-row: 3 / 4;
	grid-column: 2 / 4;
	text-decoration: none;
	color: inherit;
	margin-top: 16px;
	margin-bottom: 16px;
}

.preview-hotels-subtitle {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.grid-wrapper {
	grid-row: 4 / 5;
	grid-column: 2 / 4;
	display: grid;
	grid-template-columns: 140px 140px;
	grid-template-rows: 23px 37px;
	column-gap: 20px;
	row-gap: 16px;
	padding-bottom: 20px;
}

.hotels {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	justify-self: start;
}

.price {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	justify-self: end;
}

.more-detailed-view-hotels {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	border: none;
	border-radius: 4px;
}

.button-fav {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	border: none;
	background-color: rgba(131, 179, 211, 1);
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 4px;
}

.button-fav:hover {
	background-color: rgba(104, 162, 202, 1);
}

.button-fav:focus-visible {
	color: rgba(255, 255, 255, 1		);
	outline: 3px solid rgba(117, 98, 87, 1);
	background-color: rgba(104, 162, 202, 1);
}

.button-fav:active {
	color: rgba(255, 255, 255, 0.3);
	outline: none;
}

.preview-hotels-rating-stars {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	width: 23px;
	background-image: url("../images/star-icon.svg");
	background-size: 23px 17px;
	background-repeat: repeat-x;
	background-position: 0 50%;
}

.stars-four {
	width: 92px;
}

.stars-three {
	width: 69px;
}

.stars-two {
	width: 46px;
}

.preview-hotels-rating {
	background-color: #F2F2F2;
	color: #333333;
	text-decoration: none;
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	padding: 9px 22px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.pagination {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: 70px;
	padding-top: 40px;
	padding-bottom: 60px;
	border-top: 1px solid #E6E6E6;
}

.pagination-link {
	color: #ffffff;
	font-size: 20px;
	line-height: 36px;
	text-decoration: none;
	background-color: #83B3D3;
	font-weight: 700;
	display: block;
	padding: 12px 24px;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-current {
	background-color: #F2F2F2;
	color: #000000;
}

.pagination-link:hover:not(.pagination-current) {
	background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus:not(.pagination-current) {
	background-color: rgba(104, 162, 202, 1);
	outline: none;
}

.pagination-link:active:not(.pagination-current) {
	background-color: rgba(130, 179, 211, 1);
	outline: none;
	color: rgba(255, 255, 255, 0.3);
}

.pagination-current:focus {
	outline: none;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(242, 242, 242, 0.80); ;
}

.modal {
	position: relative;
	margin: auto;
	background-color: #FFFFFF;
	border-radius: 30px;
	box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

/* 717 */

.modal-content {
	display: flex;
	flex-direction: column;
	padding: 64px 70px;
}

.modal-title {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: normal;
	margin: 0;
	margin-bottom: 64px;
	color: #000000;
	padding-right: 164px;
}

.modal-close-button {
	position: absolute;
	right: 52px;
	width: 52px;
	height: 52px;
	padding: 0;
	background-color: #F2F2F2;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.modal-close-button:hover {
	background-color: #E6E6E6;
}

.modal-close-button:focus {
	outline: 3px solid #82B3D3;
}

.modal-close-button:active {
	opacity: 0.3;
	outline: none;
}

.modal-close-button::after,
.modal-close-button::before {
	position: absolute;
	content: "";
	width: 19px;
	height: 2px;
	background-color: #000000;
}

.modal-close-button::after {
	top: 26px;
	left: 16px;
	transform: rotate(45deg);
}

.modal-close-button::before {
	top: 26px;
	left: 16px;
	transform: rotate(-45deg);
}

.booking-form {
	display: grid;
	grid-template-columns: 137px 111px 87px 131px 111px;
	grid-template-rows: repeat(6, 48px) 60px;
}

.field-group {
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
	text-transform: capitalize;
	font-weight: 700;
	color: #000000;
	font-style: normal;
}

.start-booking {
	grid-column: 1 / 6;
	grid-row: 1 / 2;
}

.booking-start-input {
	padding: 12px 20px;
	width: 400px;
	border: none;
	background-color: #F2F2F2;
	margin-left: 18px;
}

.booking-end-input {
	padding: 12px 20px;
	width: 400px;
	border: none;
	background-color: #F2F2F2;
	margin-left: 13px;
}

input[type="date"]::-webkit-datetime-edit {
	color: #000000; 
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
}

.adults,
.children {
	display: flex;
	align-items: center;
}

.booking-adults-input,
.booking-children-input {
	width: 11px;
	padding: 14px 10px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	background-color: #F2F2F2;
	border: none;
}

.booking-children-input::placeholder, 
.booking-adults-input::placeholder {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
}

.booking-adults-input::-webkit-outer-spin-button,
.booking-adults-input::-webkit-inner-spin-button,
.booking-children-input::-webkit-outer-spin-button,
.booking-children-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.count {
	width: 40px;
	height: 48px;
	padding: 0;
	margin: 0;
	border: none;
	display: block;
	background-color: #F2F2F2;
}

.count-less {
	margin-left: 46px;
	background-image: url("../images/button-minus.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.count-less:hover {
	background-image: url("../images/minus-hover.svg");
}

.count-more {
	background-image: url("../images/button-plus.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.count-more:hover {
	background-image: url("../images/plus-hover.svg");
}

.count:focus {
	outline: 2px solid #82B3D3;
	outline-offset: -12px;
	z-index: 1;
}

.count:active {
	opacity: 0.2;
	outline: none;
}

.info {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: none;
	margin-left: 10px;
	cursor: pointer;
	background-image: url("../images/info-modal.svg");
	position: relative;
}

.info:hover::after {
	position: absolute;
	top: 50px;
	left: -100px;
	content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
	width: 216px;
	height: 110px;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	padding: 23px 18px 18px 22px;
	text-align: start;
	border-radius: 10px;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
}

.info:hover::before {
	position: absolute;
	content: "";
	top: 40px;
	left: 4px;
	width: 20px;
	height: 20px;
	background-color: #333333;
	transform: rotate(45deg);
}

.end-booking {
	grid-column: 1 / 6;
	grid-row: 3 / 4 ;
}

.adults {
	grid-column: 1 / 3;
	grid-row: 5 / 6;
}

.children {
	grid-column: 4 / 6;
	grid-row: 5 / 6;
}

.modal-booking-button {
	grid-column: 1 / -1;
	grid-row: -1 / -2;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.modal-window-close {
	display: none;
}

.date-error {
	color: #FF5757;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	grid-column: 2 / 6;
}

.date-free {
	color: #333333;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	grid-column: 2 / 6;
}